{% extends 'base.html.twig' %}

{% block title %}Conditions Générales d'Utilisation{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        .back-button { float: right; margin-top: 10px; }
    </style>

    <div class="example-wrapper">
        <h2>Mentions légales</h2>

        <h3>Propriétaire et responsable du site/application</h3>

        <p>
            Nom de l'entreprise : Site de Rendu IUT<br>
            Adresse : 9 Rue Québec, 10430 Rosières-Près-Troyes<br>
            Contact : +33 1 23 45 67 89
        </p>

        <h3>Utilisation du service</h3>

        <p>
            L'utilisation de ce service est soumise aux conditions générales d'utilisation et à la politique de confidentialité.
        </p>

        <h3>Propriété intellectuelle</h3>

        <p>
            Tous les contenus de cette application (textes, images, logos, etc.) sont la propriété de Site de Rendu IUT ou utilisés avec l'autorisation des détenteurs des droits. Toute reproduction ou utilisation non autorisée est strictement interdite.
        </p>

        <h3>Responsabilité</h3>

        <p>
            Site de Rendu IUT s'efforce de fournir des informations exactes et à jour, mais ne peut garantir l'exactitude, l'exhaustivité ou la fiabilité du contenu. L'utilisation des informations disponibles sur ce site se fait sous la responsabilité de l'utilisateur.
        </p>

        <h3>Protection des données personnelles</h3>

        <p>
            Les informations collectées par l'application sont utilisées dans le cadre de son fonctionnement (gestion des comptes, des échéances, etc.) et ne seront en aucun cas partagées avec des tiers sans le consentement de l'utilisateur, sauf obligation légale.
        </p>

        <h3>Cookies</h3>

        <p>
            Ce site utilise des cookies pour améliorer l'expérience utilisateur. En utilisant ce site, vous consentez à l'utilisation de cookies conformément à notre politique en matière de cookies.
        </p>

        <h3>Loi applicable</h3>

        <p>
            Ces mentions légales sont régies par la loi en vigueur en France, et tout litige relatif à ce site sera soumis à la juridiction exclusive des tribunaux compétents en France.
        </p>

    </div>
{% endblock %}
