{# templates/echeances/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Échéances{% endblock %}

{% block body %}
    <h1>Mes rendus à venir :</h1>
    <div class="rendu-row">
        <!-- Carré 1 -->
        <div class="rendu">
            <div class="date">01/01/2023</div>
            <p>Faire les exercices 1,2 et 5</p>
            <div class="ressource">Mathématiques</div>
        </div>

        <!-- Carré 2 -->
        <div class="rendu">
            <div class="date">02/01/2023</div>
            <p>Rendre un rapport sur EVA</p>
            <div class="ressource">Droit </div>
        </div>

        <!-- Carré 3 -->
        <div class="rendu">
            <div class="date">03/01/2023</div>
            <p>Site Toy-Story</p>
            <div class="ressource">Développement Front</div>
        </div>

        <!-- Carré 4 -->
        <div class="rendu">
            <div class="date">04/01</div>
            <p>Description de la ressource</p>
            <div class="ressource">Nom ressource</div>
        </div>

        <!-- Carré 5 -->
        <div class="rendu">
            <div class="date">05/01</div>
            <p>Description de la ressource</p>
            <div class="ressource">Nom ressource</div>
        </div>

        <!-- Carré 6 -->
        <div class="rendu">
            <div class="date">05/01</div>
            <p>Description de la ressource</p>
            <div class="ressource">Nom ressource</div>
        </div>

        <!-- Carré 7 -->
        <div class="rendu">
            <div class="date">05/01</div>
            <p>Description de la ressource</p>
            <div class="ressource">Nom ressource</div>
        </div>

        <!-- Carré 8 -->
        <div class="rendu">
            <div class="date">05/01</div>
            <p>Description de la ressource</p>
            <div class="ressource">Nom ressource</div>
        </div>
    </div>
{% endblock %}
